
.beneficiariesTable {
    width: 100%;
    padding: 20px;
    text-align: left;
    font-weight: 12px;
    font-size: 14px;
}

.beneficiariesTable thead th {
    padding: 5px;
}

.beneficiariesTableBody {
    text-align: left;
}

.beneficiariesTableRows td {
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.beneficiary-status {
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.flexWrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-left: 2rem;
}

.flexWrapper .emptyImg img {
    height: 14em;
}

.flexWrapper .emptyInfo {
    margin-top: 4em;
    width: 20%;
    margin-left: 3rem;
}

.flexWrapper .emptyInfo button {
    background: #243344;
    color: #32E0C4;
    border: 2px solid #32E0C4;
    border-radius: 5px;
    width: 8rem;
    height: 40px;
    font-size: 16px;
    margin-left: 2em;
}

.emptyInfo button:focus,
.emptyInfo button:active, 
.emptyInfo button:hover {
    background: #32E0C4;
    border: 2px solid #32E0C4;
    color: rgb(64, 66, 66);
    outline: none;
}

.flexWrapper .emptyInfo h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* Media Query */

@media screen and (max-width: 1040px) {
    .beneficiariesTable {
        font-weight: 11px;
        font-size: 10px;
        padding: 5px;
    }

    .beneficiariesTable thead th {
        padding: 5px;
        font-size: 11px;
    }

    .beneficiariesTableRows td {
        padding: 5px;
        font-size: 11px;
        text-align: left;
    }

    .beneficiariesTable thead tr th:nth-child(2) {
        display: none;
    }

    .beneficiariesTableRows td:nth-child(2) {
            display: none;
    }

    .indicator {
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }

    .flexWrapper {
        padding: 5px;
        flex-direction: column;
        align-items: center;
        height: 30em;
        width: 25em;
        margin-left: 3rem;
    }

    .flexWrapper .emptyInfo {
        width: 25em;
        margin-bottom: 1rem;
    }
}
